.section__egg{
    display: flex;
     /* height: 39rem; */
    
    


}
.white_section{

    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: flex-start;


    gap: 2rem;
    padding: 0 12.5rem;
    /* background-color: aqua !important; */
    
    
} 
.section_two_part_two, .section_two_part_one{
    width: 50%;
    
  }


  .heading__style{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding: 0 1rem 0 0;
    color:  hsl(212, 27%, 19%);
    

  }
  .section_two_part_one{
    /* background-color: white; */
  }

  .egg_yellow_img{
    width: 100%;
    height: 100%;
}
.learn__more{
    color:  hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;

}

.para__style{

    font-size: 0.9rem;
    font-weight: 100;
    color: hsl(232, 10%, 55%);
    line-height: 1.5rem;
}
 