.footer {
  background-color: hwb(168 27% 45%);
  /* background-color: #84eed9;
    background-color: #62ada0; */
  background-color: #77d3c3;

  padding: 4rem;
  height: 20rem;
}
.container__footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.footer__list {
  display: flex;
  gap: 3rem;
}
li {
  list-style: none;
}
.footernav__link {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-size: 1rem;
}
.footer_icon:hover {
  color: white;
}
.footer_icon {
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
}
.social__icons {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  cursor: pointer;
}
.footernav__link:hover {
  color: white;
}

@media (max-width: 480px) {
  .logo__footer {
    size: 10rem;
  }
  .footernav__link {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    font-size: 1.2rem;
  }
}
