.footer{
    /* color: black; */
    background-color: hsl(168, 34%, 41%);
    /* background-color: #2C7566; */
    padding: 4rem;
    height: 20rem;
}
.container__footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.footer__list{
    display: flex;
   gap: 3rem;
}
li{
    list-style: none;
}
.footernav__link{
    text-decoration: none;
}