.four__images {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  flex-wrap: wrap;
}

.img_div {
  width: 25%;
}

.four_img {
  height: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  .img_div {
    width: 50%;
  }
}
