@media (max-width: 480px) {
  .mobile__menubar {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 3rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2rem;
    height: 22rem;
    gap: 2.5rem;
    z-index: 1;
    /* top: 20%; */
    left: 50%;
    transform: translate(-60%, -50%);
  }
  .nav__links__mobile {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
    cursor: pointer;
    font-size: 1.2rem;
  }
  .btn__contact_mobile {
    background-color: yellow;
    border: none;
    padding: 1rem 1.5rem;
    color: black !important;
    border-radius: 100px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: "Fraunces", serif;
  }
}
