.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menubar_names {
  width: 30%;
}
.options_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__list {
  text-decoration: none;
}
.menubar_list {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav__link:link {
  color: white;
}
.nav__link:visited {
  color: white;
}
.nav__link:active {
  color: white;
}
.nav__link:hover {
  color: white;
}
.contact__btn {
  padding: 1rem 1.5rem;
  background-color: white;
  color: black !important;
  border-radius: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Fraunces", serif;
}
.contact__btn:hover {
  background-color: #6dd1fa;
  color: white !important;
}

/* media queries */
@media only screen and (max-width: 1140px) {
  .menubar_names {
    width: 40%;
  }
}
@media only screen and (max-width: 840px) {
  .menubar_names {
    width: 52%;
  }
}
@media only screen and (max-width: 651px) {
  .menubar_names {
    width: 60%;
  }
}

@media (min-width: 480px) and (max-width: 650px) {
  .menubar_names {
    width: 60%;
  }
  .nav__link {
    font-size: 0.8rem;
  }
  .contact__btn {
    font-size: 0.6rem;
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .menubar_names {
    display: none;
  }

  .hidden {
    display: inline-block;
  }
  .color {
    color: white;
  }
  .menubar__lines {
    font-size: 2rem;
    cursor: pointer;
  }
}
